img {
  height: 400px;
}


footer{
  background-color: black ;
  color: aliceblue;
}

h1 {
   color: white;
   text-align: center;
}

h2 {
  color: black;
  text-align: left;
}

.carro{
  text-align: left;
}

.header{
  background-color: rgb(133, 130, 128);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px 0;
}

.header__navlink{
  padding: 3px;
  text-decoration: none;
  color: aliceblue  ;
}

p {
  color: black;
  text-align: left;
}








